# Playwright Test Configuration
# Set to "false" to run tests in headed mode (browser remains visible)
HEADLESS=false

# Application URL
BASE_URL=https://remita.net

# Test User Credentials (used by login tests)
# After registering a new user, the credentials will be saved here
TEST_EMAIL=
TEST_PASSWORD=
TEST_FIRST_NAME=
TEST_LAST_NAME=
TEST_PHONE_NUMBER=
TEST_NIN=
TEST_BVN=
